*.exe
*.ilk
*.pdb
*.opensdf
*.sdf
*.sln
*.suo
openoliver/openoliver/common/MicroGlut.c
openoliver/openoliver/common/MicroGlut.h
openoliver/openoliver/common/zpr.c
*.h~
*.c~
*~*
main
openoliver/openoliver/common/zpr.h
openoliver/openoliver/Debug/openoliver.log
openoliver/openoliver/Debug/openoliver.tlog/cl.command.1.tlog
*.tlog
*.idb
*.filters
*.vcxproj
*.o
*.cbp
*.cscope_file_list
*.depend
*.layout

*.depend
*.dll
/project_files/Light_Shadows
project_files/Light_Shadows.rar
project_files/textures/fft-terrain6.tga
